.signup-container {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 48px auto;
  padding: 0px 24px 24px 24px;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 6px;
  box-shadow: 0px 0px 6px rgb(173, 173, 173);
}
.signup-title {
  color: #ff7235;
}
.signup-input {
  width: 335px;
  font-size: 18px;
  padding: 4px 6px;
}
.signup-input:focus {
  outline: none;
  border: 2px solid #5680ff;
  border-radius: 4px;
}
.signup-label {
  font-size: 18px;
}
.signup-button {
  width: 40%;
  align-self: center;
  margin-top: 12px;
  padding: 8px;
  font-size: 18px;
  color: white;
  border: none;
  background-color: #ff7235;
  border-radius: 4px;
}
